<div class='container'>
  <%= form_tag :therapist_searches, action: :update do %>
    <%= label_tag(:distance, "Radius of search in miles") %>
    <%= select_tag(:distance, options_for_select([5, 10, 25, 50, 100, 300])) %>

    <%= label_tag(:address, "Enter a location to search from") %>
    <%= text_field_tag(:address) %>
  <% end %>

  <br />
  <h2>Results</h2>
  <ul>
  <% @therapists.each do |therapist| %>
    <li>Therapist #<%= therapist.id %></li>
    <li><%= therapist.description %></li>
    <li><%= link_to 'See Specialties', therapist_details_path(therapist_id: therapist.id) %></li>
    <br />
  <% end %>
  </ul>
</div>
