
<p id="notice"><%= notice %></p>

<h1>Conversation Between <%= @therapist.username %> and <%= @patient.username %></h1>

<%= form_tag reply_to_message_path, method: "post" do %>

  <%= hidden_field_tag :therapist_id, @therapist.id %>
  <%= hidden_field_tag :patient_id, @patient.id %>
  <%= hidden_field_tag :message_id, @message.id %>
  
  <%= text_field_tag :body %>

  <%= submit_tag "Send" %>

<% end %>

<table>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td>
        <% if message.sent_messageable_type == "Therapist" %>
          <%= @therapist.username %>:
        <% else %>
          <%= @patient.username %>:
        <% end %>
      </td>
      <td>
        <%= message.body %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
