
<p id="notice"><%= notice %></p>

<h1>Conversation Between <%= @therapist.username %> and <%= @patient.username %></h1>

<%= form_tag reply_to_message_path, method: "post" do %>

  <%= hidden_field_tag :therapist_id, @therapist.id %>
  <%= hidden_field_tag :patient_id, @patient.id %>
  <%= hidden_field_tag :message_id, @message.id %>
  
  <%= text_field_tag :body %>

  <%= submit_tag "Send" %>

<% end %>

  <div class="messages-wrapper">
      <% @messages.each do |message| %>
          <% if message.sent_messageable_type == "Therapist" %>
            <div class="message from">
            <h4><%= @therapist.username %> Says:</h4></br>
            <p><%= message.body %></p>
            </div>
          <% else %>
          <div class="message to">
            <h4><%= @patient.username %> Says:</h4></br>
            <p><%= message.body %></p>
          </div>
          <% end %>
        
      <% end %>
  </div>
