<% provide(:title, "Therapist Registration") %>
<div class="registration-form"> 
<h1>Therapist Registration</h1>

<p>At the Secular Therapy Project (STP), we are looking for very specific types of health professionals for our database. Before taking the time to apply, we encourate you to look at our guidelines for evaluating candidates. If you feel that you fit the criteria, we would love to have your application. If you are uncertain, feel free to apply and we will evaluate your application for fitness in the STP.</p>

<ul>
  <li>Guideline 1, Licensure: All listed therapists in the STP should be prperly licensed according to their state, province or country's laws. For instance, we encourage licensed psychologists, psychiatrists, counselors, marital and family therapists, clinical social workers, and other mental health professionals. We do not allow 'coaches' or people who are unlicensed to be listed in the STP database.</li>

  <li>Guideline 2, Secular: All listed therapists in the STP should be non-religious and of a secular nature. While most religious therapists act ethically, and do not bring their personal beliefs into the therapy room, the clients using the STP are often drawn to us because of negative experiences with religious therapists. As such, they are likely to be highly turned off by religous therapists, even those practicing in a non-religous manner.</li>

  <li>Guideline 3, Evidence-based practice: All listed therapists in the STP should be practiciing evidence-based therapy and assessment. Stated simply, evidence based practice (EBP) is a guiding principle that means a mental health professional, regardless of type of license, is guided in the treatment and assessment methods they use by the current practices as defined by scientific evidence. This typically incorporates the use of empirically-supported treatments for specific types of problems in addition to being able to establish a strong therapeutic alliance. Potential applicants who primarily use non-evidence-based or pseudoscientific methods will <i>not</i> be approved for the STP.</li>
</ul>

<%= form_for(@therapist, url: therapist_signup_path) do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label 'Type of practice' %>
  <%= f.text_field :practice %>

  <%= f.label :years_experience %>
  <%= f.text_field :years_experience %>

  <%= f.label 'Educational Background' %>
  <%= f.text_area :qualifications %>

  <%= f.label :gender %>
  <%= f.select :gender, ["Male", "Female"] %>

  <%= f.label 'Current religious affiliation' %>
  <%= f.text_field :religion %>

  <%= f.label 'Former religious affiliation(s)' %>
  <%= f.text_field :former_religion %>

  <%= f.label :licenses %>
  <%= f.text_area :licenses %>

  <%= f.label :main_license %>
  <%= f.text_field :main_license %>

  <%= f.label "Would you like to participate in distance counseling?" %>
  <%= f.select :distance_counseling, options_for_select([["Yes", true], ["No", false]]) %>

  <%= f.label 'Describe your involvement in the secular community' %>
  <%= f.text_area :purpose %>

  <!--Specialty Check Boxes -->

  Please check your specialty areas:
  <br>
  <%= f.check_box :adolescents %><%= f.label "Adolescents" %>
  <br>
  <%= f.check_box :adults %><%= f.label "Adults" %>
  <br>
  <%= f.check_box :children %><%= f.label "Children" %>
  <br>
  <%= f.check_box :coping_with_change %><%= f.label "Coping with Change" %>
  <br>
  <%= f.check_box :depression %><%= f.label "Depression" %>
  <br>
  <%= f.check_box :existential %><%= f.label "Existential Issues: identity, meaning, death anxiety, etc." %> 
  <br>
  <%= f.check_box :general_anxiety %><%= f.label "General Anxiety" %>
  <br>
  <%= f.check_box :grief_loss %><%= f.label "Grief and Loss Counseling" %>
  <br>
  <%= f.check_box :marriage_family %><%= f.label "Marriage and Family" %>
  <br>
  <%= f.check_box :mood_disorders %><%= f.label "Mood Disorders" %>
  <br>
  <%= f.check_box :ocd %><%= f.label "Obsessive-Compulsive Disorder" %>
  <br>
  <%= f.check_box :ptsd %><%= f.label "Post-Traumatic Stress Disorder" %>
  <br>
  <%= f.check_box :relationship_counseling %><%= f.label "Relationship Counseling" %>
  <br>
  <%= f.check_box :self_improvement %><%= f.label "Self-Improvement" %>
  <br>
  <%= f.check_box :sex_therapy %><%= f.label "Sex Therapy" %>
  <br>
  <%= f.check_box :social_anxiety %><%= f.label "Social Anxiety" %>
  <br>
  <%= f.check_box :stress_management %><%= f.label "Stress Management" %>
  <br>
  <%= f.check_box :substance_abuse %><%= f.label "Substance Abuse/Dependence" %>
  <br>
  <%= f.check_box :trauma_recovery %><%= f.label "Trauma Recovery" %>
  <br>
     
  <!--Optional Fields -->

  <%= f.label :website %>
  <%= f.text_field :website %>

  <%= f.label :languages %>
  <%= f.text_area :languages %>

  <%= f.label "Description patients will see about your practice." %>
  <%= f.text_area :description %>

  <%= f.label 'Describe your theoretical orientation' %>
  <%= f.text_area :approach %>

  <%= f.submit "Create my account" %>
<% end %>
</div>
