<% provide(:title, "Therapist Dashboard") %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container therapist-profile">
    <div class="main">
      <div class="avatar">
        <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif">
      </div>
      <div class="dynamic button">
        <% if patient_logged_in? %>
          <% unless patient_therapist_relationship_exists %>
            <%= form_tag({controller: "patient_therapist_relationships", action: "create"}, method: "post") do %>
              <%= hidden_field_tag 'patient_id', current_patient.id %>
              <%= hidden_field_tag 'therapist_id', params[:therapist_id] %>
              <%= hidden_field_tag 'status', "pending" %>
              <%= submit_tag "Connect with this Therapist" %>
            <% end %>
          <% end %>
          <% if connection_request_pending? %>
            Connection Request Pending
          <% elsif connection_accepted %>
            <%= link_to show_conversation_path(@message) do %>
              Send Message
            <% end %>
          <% end %>
        <% elsif therapist_logged_in? %>
          <% if current_therapist.id.to_i == params[:therapist_id].to_i %>
            <!-- Therapist on their own dashboard, show inbox button -->
            <%= link_to therapist_inbox_path(params[:therapist_id]) do %>
              Inbox
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="basic">
        <!-- si: This is not complete, just putting this here as an idea of what I'm trying to accomplish with this view -->
        <p><%= @therapist.full_name %></p>
        <p><%= @therapist.phone %></p>
        <p><%= @therapist.email %></p>
        <p>Find City and State based on Zipcode.</p>
        <p><%= @therapist.gender %></p>
      </div>
      <div class="info">
        <p>
          <strong>Former Religion:</strong>
          <%= @therapist.former_religion %>
        </p>
        <p>
          <strong>About you:</strong>
          <%= @therapist.description %>
        </p>
      </div>
  </div>

  <% if current_admin && current_therapist.id == params[:therapist_id].to_i %>
    <div class="admin-tools">
      <h2>Admin Tools</h2>
      <ul>
        <% if current_super_admin %>
          <li>Search for a Patient</li>
          <li>List Admins</li>
        <% end %>
        <li>Search for a Therapist</li>
        <li><%= link_to "Pending Therapist Applications", votes_path %></li>
      </ul>
    </div>
  <% end %>
  
  <% if current_admin && @therapist.verified_at == nil %>

    <div class="votes">
      <%= link_to "Back to Dashboard", votes_path %>
      <h2>Current Votes</h2>
      <% if voted_on?(@therapist) %>
        <%= form_tag({controller: "votes", action: "delete"}, method: "post") do %>
          <%= hidden_field_tag :votee_id, @therapist.id %>
          <%= submit_tag "Change Vote" %>
        <% end %>
      <% end %>
      <p>
        <% @therapist.received_votes.each do |vote| %>
          <ul>
            <li><%= vote.voter.full_name %></li>
            <li><%= vote.decision %></li>
            <li><%= vote.comment %></li>
          </ul>
        <% end %>
      </p>
      <% if !voted_on?(@therapist) %>
        <%= form_tag({controller: "votes", action: "create"}, method: "post") do %>
          <%= label_tag :decision, "Vote" %>
          <%= select_tag :decision, options_for_select([["Accept", "Accept"], ["Decline", "Decline"], ["Need more info", "Need more info"]]) %>

          <%= label_tag :comment, "Comments" %>
          <%= text_field_tag :comment %>

          <%= hidden_field_tag :votee_id, @therapist.id %>

          <%= submit_tag "Vote" %>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
