<% provide(:title, "Therapist Dashboard") %>

<h1><%= @therapist.username %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
   <%= @therapist.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @therapist.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @therapist.phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @therapist.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @therapist.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @therapist.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @therapist.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @therapist.zipcode %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @therapist.gender %>
</p>

<p>
  <strong>Former Religion:</strong>
  <%= @therapist.former_religion %>
</p>

<p>
  <strong>About you:</strong>
  <%= @therapist.description %>
</p>

<p>Unfinished because I doubt we will be displaying all of their information in this way
