<% provide(:title, "Therapist Dashboard") %>

<div class="container therapist-profile">
    <div class="main">
      <div class="avatar">
        <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif">
        <div class="Inbox-button">
        <%= link_to inbox_path(therapist_id: params[:therapist_id]) do %>
          Inbox
        <% end %>
      </div>

      <div class="basic">
        <p><%= @therapist.full_name %></p>
        <p><%= @therapist.phone %></p>
        <p><%= @therapist.email %></p>
        <p><%= @therapist.city %>, <%= @therapist.state %></p>
        <!--<p><%#= @therapist.gender %></p>-->
      </div>



            <!-- this information is redundant for the therapist -->
      <!-- <div style="float:left;text-align:center;"> -->
      <div class="info">
        <h5>View Other Therapists in your area</h5>
        <div class="Inbox-button" style="width:auto;text-align:center;">
        <p><%= link_to 'Search', therapist_searches_path %></p>
        </div>
      </div>


      <div class="conversations" style="margin-top:10%;">
      <h4>Recent Conversations</h4>
        <% if @therapist.patient_therapist_relationships.any? %>
          <% @therapist.conversations.each do |conversation| %>
            <div class="Inbox-button" style="width:auto;text-align:center;">
            <p><%= link_to "Conversation with Patient ##{conversation.patient.id}", conversation_path(patient_id: conversation.patient.id, therapist_id: @therapist.id, conversation_id: conversation.id) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      </div>
  </div>

  <% if is_an_admin? && current_therapist.id == params[:therapist_id].to_i %>
    <div class="admin-tools">
      <h2>Admin Tools</h2>
      <ul>
        <% if is_a_super_admin? %>
          <li>Search for a Patient</li>
          <li><%= link_to "Admins List", admins_path %></li>
        <% end %>
        <li>Search for a Therapist</li>
        <li><%= link_to "Pending Therapist Applications", votes_path %></li>
      </ul>
    </div>
  <% end %>
</div>
