<% provide(:title, "Edit Profile") %>
<div class="edit-profile">
<h1>Edit Profile</h1>

<%= form_for(@patient, url: update_patient_path) do |f| %>

  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited you from being saved:</h2>

      <ul>
        <% @patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.label :gender %>
  <%= f.select :gender, ["Male", "Female"] %>

  <%= f.label :former_religion %>
  <%= f.text_field :former_religion %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
 
<% end %>
</div>
