<% provide(:title, "Client Registration") %>
<div class="registration-form">
<h1>Client Registration</h1>

<p>Please enter the below information to sign up for the STP and start finding a secular therapist in your area.</p>

<%= form_for(@patient, url: patient_signup_path) do |f| %>

  <%= f.label 'Username: Capitalization matters' %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.label :gender %>
  <%= f.select :gender, ["Male", "Female"] %>

  <%= f.label 'What, if any, is your former religion?' %>
  <%= f.text_field :former_religion %>

  <%= f.label 'Why are you seeking services at this time?' %>
  <%= f.text_area :description %>

  <%= f.submit %>
 
<% end %>
</div>
