<% provide(:title, "Sign Up") %>
<h1>Sign Up</h1>

<%= form_for(@patient, url: signup_path) do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.label :former_religion %>
  <%= f.text_field :former_religion %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :distance %>
  <%= f.select :distance, ["5", "10", "25", "50", "100", "200"] %>

  <%= f.submit "Create my account" %>
<% end %>
