<% provide(:title, "Patient Dashboard") %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container patient-profile">
    <div class="main">
      <div class="avatar">
        <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif">
      </div>
      <div class="dynamic button">
        <% if therapist_logged_in? %>
          <% if connection_request_pending? %>
            <%= link_to accept_connection_request_path do %>
              Accept Connection Request
            <% end %>
          <% elsif connection_accepted %>
            <%= link_to therapist_show_conversation_path(params[:patient_id]) do %>
              Send Message
            <% end %>
          <% end %>
        <% end %>
        <% if patient_logged_in? %>
          <%= link_to patient_inbox_path do %>
            Inbox
          <% end %>
        <% end %>
      </div>

      <div class="basic">
        <p><%= @patient.name %></p>
        <p><%= @patient.phone %></p>
        <p><%= @patient.email %></p>
        <p>Find City and State based on Zipcode.</p>
        <p><%= @patient.gender %></p>
      </div>
      <div class="info">
        <p>
          <strong>Former Religion:</strong>
          <%= @patient.former_religion %>
        </p>
        <p>
          <strong>About you:</strong>
          <%= @patient.description %>
        </p>
      </div>
  </div>
  <% if patient_logged_in? %>
    <div class="search">

      <h2>Therapists Near You</h2>
      <% @results.each do |t| %>
        <p><%= t.first_name %> <%= t.last_name %></p>
        <p><%= t.city %>, <%= t.state %></p>
      <% end %>

    </div>
  <% end %>
</div>
