<% provide(:title, "Patient Dashboard") %>

<div class="container patient-profile">
    <div class="main">
      <div class="avatar">
        <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif">
      </div>
      <div class="dynamic button">
        <%= link_to inbox_path(patient_id: @patient.id) do %>
          Inbox
        <% end %>
      </div>

      <div class="basic">
        <p><%= @patient.name %></p>
        <p><%= @patient.phone %></p>
        <p><%= @patient.email %></p>
        <p><%= @patient.zipcode %></p>
        <p><%= @patient.gender %></p>
      </div>
      <div class="info">
        <p>
          <strong>Former Religion:</strong>
          <%= @patient.former_religion %>
        </p>
        <p>
          <strong>About you:</strong>
          <%= @patient.description %>
        </p>
        <p>
        <strong>You may contact up to 3 therapists in a month.</strong><br />
        <strong>You currently have <%= @patient.available_requests %> left.</strong>
        </p>
      </div>
      <div class='lookup'>
        <p><%= link_to 'Search by location and distance.', therapist_searches_path %></p>
      </div>
      <div class='conversations'>
        <% @patient.conversations.each do |conversation| %>
          <p><%= link_to "Conversation with Therapist ##{conversation.therapist.id}", conversation_path(patient_id: @patient.id, therapist_id: conversation.therapist.id, conversation_id: conversation.id) %></p>
        <% end %>
      </div>
  </div>
  <div class="search">

    <h2>Therapists Near You</h2>
    <% @results.each do |t| %>
      <p>Therapist ID: <%= t.id %></p>
      <p>Description: <%= t.description %></p>
      <p>Contacted already? - <%= t.patients.include?(@patient) %>
      <p>State: <%= t.state %></p>
      <% if @patient.available_requests > 0 %>
        <p><%= link_to 'See Specialties', therapist_details_path(therapist_id: t.id), method: 'get' %></p>
      <% end %>
    <% end %>

  </div>
</div>
