<% provide(:title, "Patient Dashboard") %>

<div class="notice">
<h3 id="notice"><%= notice %></h3>
</div>

<div class="container patient-profile">
    <div class="main">
      <div class="avatar">
        <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif">
        Button Goes Here
      </div>

      <div class="basic">
        <p><%= @patient.name %></p>
        <p><%= @patient.phone %></p>
        <p><%= @patient.email %></p>
        <p>Find City and State based on Zipcode.</p>
        <p><%= @patient.gender %></p>
      </div>
      <div class="info">
        <p>
          <strong>Former Religion:</strong>
          <%= @patient.former_religion %>
        </p>
        <p>
          <strong>About you:</strong>
          <%= @patient.description %>
        </p>
      </div>
  </div>
  <div class="search">

    <h2>Therapists Near You</h2>
    <% @results.each do |t| %>
      <p><%= t.first_name %> <%= t.last_name %></p>
      <p><%= t.city %>, <%= t.state %></p>
    <% end %>

  </div>
</div>
