<% provide(:title, "Patient Dashboard") %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container patient-profile">
    <div class="main">
      <div class="avatar">
        <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif">
      </div>
      <div class="dynamic button">
        <% if therapist_logged_in? %>
          <% if connection_request_pending? %>
            <%= form_tag({controller: "patient_therapist_relationships", action: "update"}, method: "post") do %>
              <%= hidden_field_tag 'patient_id', params[:patient_id] %>
              <%= hidden_field_tag 'therapist_id', current_therapist.id %>
              <%= hidden_field_tag 'status', "accept" %>
              <%= submit_tag "Accept" %>
            <% end %>

            <!-- FOR DANIEL: This form should be a dialog that opens after the user clicks a Deny button -->

            <%= form_tag({controller: "patient_therapist_relationships", action: "update"}, method: "post") do %>
              <%= hidden_field_tag 'patient_id', params[:patient_id] %>
              <%= hidden_field_tag 'therapist_id', current_therapist.id %>
              <%= hidden_field_tag 'status', "deny" %>
              <%= text_area_tag 'comment' %>
              <%= submit_tag "Send Response" %>
            <% end %>
          <% elsif connection_accepted %>
            <%= link_to show_conversation_path(@message) do %>
              Send Message
            <% end %>
          <% end %>
        <% end %>
        <% if patient_logged_in? %>
          <%= link_to patient_inbox_path(params[:patient_id]) do %>
            Inbox
          <% end %>
        <% end %>
      </div>

      <div class="basic">
        <p><%= @patient.name %></p>
        <p><%= @patient.phone %></p>
        <p><%= @patient.email %></p>
        <p>!-- Find City and State based on Zipcode.--!</p>
        <p><%= @patient.gender %></p>
      </div>
      <div class="info">
        <p>
          <strong>Former Religion:</strong>
          <%= @patient.former_religion %>
        </p>
        <p>
          <strong>About you:</strong>
          <%= @patient.description %>
        </p>
      </div>
  </div>
  <% if patient_logged_in? %>
    <div class="search">

      <h2>Therapists Near You</h2>
      <% @results.each do |t| %>
        <% if t.application_status == "accepted" %>
          <p><%= t.full_name %></p>
          <p><%= t.city %>, <%= t.state %></p>
        <% end %>
      <% end %>

    </div>
  <% end %>

  <% if current_super_admin %>
    <div class="admin-tools">
      <%= link_to "Show Connections and Conversation History", patient_inbox_path(params[:patient_id]) %>
    </div>
  <% end %>
</div>
