<% provide(:title, "Patient Dashboard") %>

<h1><%= @patient.username %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @patient.zipcode %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Former Religion:</strong>
  <%= @patient.former_religion %>
</p>

<p>
  <strong>About you:</strong>
  <%= @patient.description %>
</p>

<h2>Therapists Near You</h2>
<% @results.each do |t| %>
  <p><%= t.first_name %> <%= t.last_name %></p>
  <p><%= t.city %>, <%= t.state %></p>
<% end %>





<%= link_to 'Edit', edit_patient_path %>
