<% provide(:title, "Pending Therapists") %>
<div class='edit-conversation'>

<h1>Pending Therapists</h1>

<p>
<h3>Therapists Awaiting Your Vote</h3>
<ul>
  <% @dashboard.pending_therapists.each do |therapist| %>
    <li>
      <% if !voted_on?(therapist) %>
        <%= link_to therapist.full_name, therapist_info_path(therapist_id: therapist.id) %>
        <br />
        <br />
        <p>Current votes:</p>
        <ul>
        <% therapist.received_votes.each do |vote| %>
          <li><%= vote.voter.full_name %> voted <%= vote.decision %> and said: <%= vote.comment %></li>
        <% end %>
        </ul>
        <%= form_for Vote.new, url: votes_path do |f| %>

          <%= f.hidden_field :voter_id, value: current_therapist.id %>
          <%= f.hidden_field :votee_id, value: therapist.id %>

          <%= f.select :decision, ["Approve", "Disapprove", "Need More Info"] %>

          <%= f.label :comment %>
          <%= f.text_area :comment %>

          <%= f.submit "Vote" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
</p>
<p>
<h3>Therapists You Have Voted On</h3>
<ul>
  <% @dashboard.pending_therapists.each do |therapist| %>
    <li>
      <% if voted_on?(therapist) %>
        <%= link_to therapist.full_name, therapist_dashboard_path(therapist.id) %>
        <p>Current votes:</p>
        <ul>
        <% therapist.received_votes.each do |vote| %>
          <li><%= vote.voter.full_name %> voted <%= vote.decision %> and said: <%= vote.comment %></li>
        <% end %>
        </ul>
        <%= button_to 'Change Vote', change_vote_path(votee_id: therapist.id, voter_id: current_therapist.id) %><br />
      <% if is_a_super_admin? %>
        <%= button_to 'Set Status as Approved', therapist_confirm_path(therapist_id: therapist.id, token: therapist.verification_token) %><br />
        <%= button_to 'Set Status as Denied', therapist_deny_path(therapist_id: therapist.id, token: therapist.verification_token) %>
      <% end %>
    <% end %>
    </li>
  <% end %>
</ul>
</p>
</div>
