<div class='vote-show'>
  <h1><%= @votee.full_name %></h1>
  <p>Contact Info:</p>
  <ul>
    <li>Username: <%= @votee.username %></li>
    <li>Phone: <%= @votee.phone %></li>
    <li>Email: <%= @votee.email %></li>
    <li>Address: <%= @votee.address %></li>
    <li>City: <%= @votee.city %></li>
    <li>State: <%= @votee.state %></li>
    <li>Country: <%= @votee.country %></li>
    <li>Zipcode: <%= @votee.zipcode %></li>
  </ul>
  <br />
  <p>Career Info:</p>
  <ul>
    <li>Practice:<%= @votee.practice %></li>
    <li>Years of Experience: <%= @votee.years_experience %></li>
    <li>Qualifications: <%= @votee.qualifications %></li>
    <li>Website: <%= @votee.website %></li>
    <li>Gender: <%= @votee.gender %></li>
    <li>Religion: <%= @votee.religion %></li>
    <li>Former Religion: <%= @votee.former_religion %></li>
    <li>Licenses: <%= @votee.licenses %></li>
    <li>Main License: <%= @votee.main_license %></li>
    <li>Distance Counseling: <%= @votee.distance_counseling %></li>
    <li>Approach: <%= @votee.approach %></li>
  </ul>
  <br />
  <p>Specialties:</p>
  <ul>
    <li>Adults: <%= @votee.adults %></li>
    <li>Children: <%= @votee.children %></li>
    <li>Coping With Change: <%= @votee.coping_with_change %></li>
    <li>Depression: <%= @votee.depression %></li>
    <li>Existential Issues: <%= @votee.existential %></li>
    <li>General Anxiety: <%= @votee.general_anxiety %></li>
    <li>Grief/Loss: <%= @votee.grief_loss %></li>
    <li>Marriage/Family: <%= @votee.marriage_family %></li>
    <li>Mood Disorders: <%= @votee.mood_disorders %></li>
    <li>Obsessive Compulsive Disorder: <%= @votee.ocd %></li>
    <li>Post-Traumatic Stress Disorder: <%= @votee.ptsd %></li>
    <li>Relationship Counseling: <%= @votee.relationship_counseling %></li>
    <li>Self-Improvement: <%= @votee.self_improvement %></li>
    <li>Sex Therapy: <%= @votee.sex_therapy %></li>
    <li>Social Anxiety: <%= @votee.social_anxiety %></li>
    <li>Stress Management: <%= @votee.stress_management %></li>
    <li>Substance Abuse: <%= @votee.substance_abuse %></li>
    <li>Trauma Recovery: <%= @votee.trauma_recovery %></li>
  </ul>
</div>
